# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
### Above combination will ignore all files without extension ###
!Makefile
!LICENSE
.ccls-cache
.ccls-cache/*
build
build/*
compile_commands.json
